<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BigPipe DEMO</title>
</head>
<body>
    <h1><%= title %></h1>
    <p id="container"></p>
    <script src="bigpipe.js"></script>
</body>
</html>