<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PipeBig</title>

</head>
<body>
<%=test%>
        <div class="d1">h1111111111111</div>
        <div class="d2">h2222222222222222</div>


<script src="bigpipe.js"></script>
</body>
</html>